/*
 * at91sam9g25ek.dts - Device Tree file for AT91SAM9G25-EK board
 *
 *  Copyright (C) 2012 Atmel,
 *                2012 Nicolas Ferre <nicolas.ferre@atmel.com>
 *
 * Licensed under GPLv2 or later.
 */
/dts-v1/;
#include "at91sam9g25.dtsi"
#include "at91sam9x5ek.dtsi"

/ {
	model = "Atmel AT91SAM9G25-EK";
	compatible = "atmel,at91sam9g25ek", "atmel,at91sam9x5ek", "atmel,at91sam9x5", "atmel,at91sam9";

	ahb {
		apb {
			macb0: ethernet@f802c000 {
				phy-mode = "rmii";
				status = "okay";
			};

			isi: isi@f8048000 {
				status = "disable";
			};

			/* Conflict with ISI PA13 pin, so disable it */
			spi0: spi@f0000000 {
				status = "okay";
			};

			mmc0: mmc@f0008000 {
				pinctrl-0 = <&pinctrl_mmc0_slot0_clk_cmd_dat0 &pinctrl_mmc0_slot0_dat1_3>;
				status = "okay";
				slot@0 {
					reg = <0>;
					bus-width = <4>;
					cd-gpios = <&pioA 4 0>;
				};
			};

			/* Conflict with ISI PA13 pin, so disable it */
			mmc1: mmc@f000c000 {
				status = "disabled";
			};
			usart0: serial@f801c000 {
				//atmel,use-dma-tx;
				//atmel,use-dma-rx;
				//dmas = <&dma0 1 AT91_DMA_CFG_PER_ID(3)>,
				//	   <&dma0 1 (AT91_DMA_CFG_PER_ID(4) | AT91_DMA_CFG_FIFOCFG_ASAP)>;
				//dma-names = "tx","rx";				
				status = "okay";
			};
			usart1: serial@f8020000 {				
				//atmel,use-dma-tx;
				//atmel,use-dma-rx;
				//dmas = <&dma0 1 AT91_DMA_CFG_PER_ID(5)>,
				//	   <&dma0 1 (AT91_DMA_CFG_PER_ID(6) | AT91_DMA_CFG_FIFOCFG_ASAP)>;
				//dma-names = "tx","rx";
				status = "okay";
			};
			usart2: serial@f8024000 {
				status = "okay";
			};
			usart3: serial@f8028000 {
				pinctrl-0 = <&pinctrl_usart3 &pinctrl_usart3_rts &pinctrl_usart3_cts>;						
				atmel,use-dma-tx;
				atmel,use-dma-rx;
				dmas = <&dma1 1 AT91_DMA_CFG_PER_ID(14)>,
					   <&dma1 1 (AT91_DMA_CFG_PER_ID(15) | AT91_DMA_CFG_FIFOCFG_ASAP)>;
				dma-names = "tx","rx";				
				status = "okay";
			};
			uart0: serial@f8040000 {
				status = "diable";
			};
			uart1: serial@f8044000 {
				status = "diable";
			};
			adc0: adc@f804c000 {							
				status = "okay";
			};
			rtc@fffffeb0 {
				status = "okay";
			};
			i2c0: i2c@f8010000 {
				status = "okay";
			};

			pinctrl@fffff400 {
				pwm0 {
					pinctrl_pwm0:pwm0-0{
						atmel,pins = <AT91_PIOC 18 AT91_PERIPH_C AT91_PINCTRL_NONE>;
					};
				};
			};
			pwm0: pwm@f8034000 {
			    pinctrl-names = "default";
			    pinctrl-0 = <&pinctrl_pwm0>;
			    status = "okay";
			};

			gpio_keys {
				compatible = "gpio-keys";
				#address-cells = <1>;
				#size-cells = <0>;
				upload_btn{
					label = "SD Upload";
					linux,code = <0x101>;
					gpios = <&pioC 30 GPIO_ACTIVE_LOW>;
				};
				download_btn{
					label = "SD Download";
					linux,code = <0x102>;
					gpios = <&pioC 31 GPIO_ACTIVE_LOW>;
				};
			};
		};
	};
};
